@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

.containerTotal {
  width: 100%;
  min-height: 80vh;
  background: #dad7cd;
  color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "MedievalSharp", cursive;
}

.formTitulo img {
  width: 100px;
  margin-top: 5px;
  padding: 3px;
}
.containerInicio {
  width: 750px;
  height: 1050px;
  background-color: rgba(243, 241, 231, 0.279);
  border: 2px solid rgba(243, 241, 231, 0.279);
  border-radius: 7%;
  overflow: hidden;
  padding: 40px 60px 40px 60px;
  margin: 30px;
}

.containerInicioLogin {
  width: 550px;
  height: 600px;
  background-color: rgba(243, 241, 231, 0.279);
  border: 2px solid rgba(243, 241, 231, 0.279);
  border-radius: 7%;
  overflow: hidden;
  padding: 40px 60px 40px 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.titulo .formTitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #230000;
  line-height: 1.2;
  font-weight: bold;
  font-size: 25px;
}
.formularios {
  width: 100%;
  position: relative;
  border-bottom: 2px solid white;
  margin-bottom: 37px;
}
.input {
  font-size: 15px;
  color: #230000;
  line-height: 1.2;
  border: none;
  display: block;
  width: 100%;
  height: 45px;
  background-color: transparent;
  padding: 0 5px;
}
.containerFormulariosBtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;
}

.formulariosBtn {
  font-weight: bold;
  text-transform: 700;
  line-height: 1.2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  background-image: linear-gradient(to bottom, #5d3c18 0%, #766b65 100%);
  border: solid rgba(128, 128, 128, 0.38);
  border-radius: 1px solid #230000;
  transition: 0.7s;
  cursor: pointer;
  font-family: "MedievalSharp", cursive;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: #f2f2f2;
  border: 1px solid #230000;
  padding: 5px;
  border-radius: 10px 0px 10px 0px;
}
.label {
  color: #230000;
}
