.formPost {
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding: 2rem;
  margin: 5rem;
  border-radius: 1rem;
  font-size: 1rem;
  background-color: #dad7cd;
}

.formPost form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.formPost button {
  margin-left: 2rem;
  width: 100px;
  height: 40px;
  color: #f2f2f2;
  margin-top: 1rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #1e2824 0%, #766b65 100%);
  border-radius: 15px;
  font-size: 15px;
  border: 0;
  font-family: "Poppins", sans-serif;
}

.formPost button:hover {
  scale: 1.1;
  cursor: pointer;
}

.formPost input {
  height: 2rem;
  width: 20rem;
}

.formPost fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.btnPost {
  display: flex;
  gap: 2rem;
}
