@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

.divPedidos {
  width: 100%;
  min-height: 74vh;
  background-color: #f6ebda;
  display: grid;
  justify-items: stretch;
  font-family: "Poppins", sans-serif;
}
