@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

.header {
    height: 20vh;
    background-color: #F6EBDA;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    font-family: 'MedievalSharp', cursive;
}

.nav > img {
    width: 250px;
}

.link {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #230000;
}

.link:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }

.linkLogin {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: #f2f2f2;
    border: 1px solid #230000;
    padding: 5px;
    border-radius: 10px 0px 10px 0px;
    background-image: linear-gradient(to bottom, #5d3c18 0%, #766b65 100%);
}

.linkLogin:hover {
    transform: scale(1.1);
    transition: all 0.5s;
  }

  @media screen and (max-width: 1366px) {
    .header {
        height: 30vh;
    }

  }

  @media screen and (max-width: 768px) {
    .header {
        height: 50vh;
        flex-direction: column;
        justify-content: start;
    }
    
    .nav {
        flex-direction: column;
        width: 100%;
    }
    
    .nav > img {
        width: 250px;
    }

  }