@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

.mainMenu {
  width: 19rem;
  height: 21rem;
  display: grid;
  text-align: center;
  background-color: #766b65;
  margin: 2rem 3rem;
  border-radius: 10px;
}
.mainMenu h4 {
  font-family: "MedievalSharp", cursive;
  margin-top: 15px;
}

.mainMenu small,
h5 {
  font-family: "Poppins", sans-serif;
}

.mainMenu img {
  width: 12rem;
  height: 12rem;
  border-radius: 25rem;
}
.descricao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.icon {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin: 0.2rem;
  font-size: 1.2rem;
}

.delete:hover {
  color: #e63946;
  cursor: pointer;
}

.update:hover {
  color: #003566;
  cursor: pointer;
}
