.pedidos {
  min-height: 72vh;
  min-width: 50%;
  margin-right: 30px;
  background-color: #1e2824;
  text-align: center;
  border: 1px solid #5d3c18;
  border-radius: 10px;
  color: #f7f7f7;
}

.divCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 1px solid #5d3c18;
  border-radius: 10px;
  padding: 5px;
}
