@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 100%;
  background-color: #dad7cd;
}

.titulo {
  font-family: "MedievalSharp", cursive;
  font-size: 4.5rem;
  grid-column: span 4;
  text-align: center;
  margin-top: 2rem;
  color: #000814;
}
.searchInput {
  display: block;
  grid-row-start: 2;
  grid-column: span 3;
  margin-top: 2rem;
  font-weight: 600;
  color: black;
  margin-left: 7rem;
}

.searchInput input {
  border: none;
  font-size: 15px;
  height: 35px;
  width: 70%;
  border-radius: 5px;
  grid-column: span 4;
  background-color: #f4f3ee;
}

.searchInput label {
  font-size: 18px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
}

.cards {
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 0.2rem;
  grid-column-start: 2;
  grid-column-end: 4;
}

.container button {
  margin-left: 2rem;
  width: 180px;
  height: 40px;
  color: #f2f2f2;
  grid-column: span 1;
  margin-top: 2rem;
  text-align: center;
  background-image: linear-gradient(to bottom, #1e2824 0%, #766b65 100%);
  border-radius: 25px;
  font-size: 15px;
  border: 0;
  font-family: "Poppins", sans-serif;
}
