@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 100%;
  background-color: #dad7cd;
}

.searchInput {
  display: block;
  margin-top: 10px;
  font-weight: 600;
  color: black;
}

.searchInput input {
  margin-bottom: 12px;
  border: 2px;
  font-size: 15px;
  height: 35px;
  width: 80%;
  border-radius: 5px;
  grid-column: span 4;
  background-color: #f4f3ee;
}

.searchInput label {
  font-size: 18px;
  margin-right: 10px;
}

.titulo {
  font-family: "MedievalSharp", cursive;
  font-size: 4.5rem;
  grid-column: span 4;
  text-align: center;
  margin-top: 2rem;
  color: #000814;
}

.btns {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-column: span 3;
  justify-content: flex-end;
  align-items: center;
  align-items: center;
  gap: 5rem;
}

.cards {
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 0.2rem;
  grid-column-start: 2;
  grid-column-end: 4;
}
